:root {
    --primary: #c90000ff;
    --primary-50: #c9000080;
    --primary-25: #c9000040;
    --primary-10: #c900001a;
    --primary-05: #c900000d;
    --primary-00: #c9000000;
    --primary-medium: #a90000ff;
    --primary-dark: #800000ff;

    --grey-50: #fafafa;
    --grey-100: #F5F5F5;
    --grey-200: #EEEEEE;
    --grey-300: #E0E0E0;
    --grey-400: #BDBDBD;
    --grey-500: #9E9E9E;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;

    --black: #212121;
}