/*========================================

    POST

*========================================*/

article.post {
    width: 100%;
}

article.post .container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

article.post p,
article.post h6,
article.post h5,
article.post h4,
article.post h3 {
    margin-bottom: var(--gap);
}

article.post img {
    margin: 48px auto;
    width: 100%;
    height: auto;
}

article.post iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

article.post .wp-caption img {
    margin-bottom: 0px;
}

.wp-caption .wp-caption-text {
    color: var(--grey-500);
    font-size: 0.8rem;
    font-style: italic;
}

article.post p {
    line-height: 1.8em;
    width: 100%;
}

article.post a,
article.post p a {
    text-decoration: underline;
}

article.post h6 {
    color: var(--primary);
    font-size: 1em;
    margin-bottom: 0;
    display: block;
    width: 100%;
}

article.post .author-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: var(--gap);
    margin-right: auto;
}

article.post .author-avatar {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: var(--grey-300);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-100);
    font-size: 24px;
}

article.post .info {
    border-bottom: 1px solid var(--grey-400);
    padding: 8px 24px;
}

article.post .tagline {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.5;
}

article.post .author-line {
    color: var(--black);
    font-size: 1em;
    text-transform: none;
}

article.post .author-line {
    margin-bottom: 8px
}

article .metainfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-100);
    padding: 16px;
    border-radius: 32px;
}

.socialmedia {
    display: flex;
    gap: 4px;
}

.socialmedia .share {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    aspect-ratio: 1;
    width: 100%;
    min-width: 32px;
    height: 100%;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.socialmedia .share.wa {
    background-color: #090;
    display: none;
}

.socialmedia .share.fb {
    background-color: #339;
}

.socialmedia .share.tw {
    background-color: #39f;
}

@media screen and (max-width:560px) {

    article.post .container {
        padding: 0;
    }

    article.post h1 {
        font-size: 2em;
    }

    article.post .tagline {
        font-size: 1.25em;
    }

    .metainfo {
        flex-wrap: wrap;
    }

    article.post .author-box {
        width: 100%;
    }

    article.post .socialmedia {
        order: 3;
    }

    .socialmedia .share.wa {
        display: flex;
    }
}