/*========================================

    VIDEOS

*========================================*/


.channel-section {
    display: block;
    padding: var(--gap);
}

.channel-section h3.channel-title {
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    margin-bottom: var(--gap);
    margin-top: calc(2*var(--gap));
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: calc(var(--gap)/2);
}

.video-item .description,
.video-item .duration {
    display: none;
}

.video-info {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.video-info .badge {
    padding: 2px 8px;
}

.video-info h3 {
    color: #fff;
    font-size: 1rem;
}

.video-info .date {
    color: var(--grey-600);
    font-size: 0.7em;
}

.video-thumb {
    aspect-ratio: 16/9;
    margin-bottom: 8px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.video-destak {
    position: relative;
    display: flex;
    min-height: 560px;
}

.video-destak .container {
    width: 100%;
}

.video-destak button {
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: none;
    gap: 8px;
}

.video-destak .video-thumb {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    background-position: center;
    background-size: cover;
}

.video-thumb-container .gradient {
    background-image: linear-gradient(90deg, #000000ff 0%, #00000000 100%);
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}


.video-destak .video-info {
    position: relative;
    z-index: 2;
    max-width: 50%;
    margin-right: auto;
    color: #fff;
}

.video-destak .video-info h1 {
    font-size: 2rem;
}

#videoDuration {
    margin: var(--gap) 0;
}

@media screen and (max-width: 640px) {

    .video-thumb-container .gradient,
    .video-destak .video-thumb {
        width: 100%;
        height: 60%;
    }

    .video-thumb-container .gradient {
        background-image: linear-gradient(0deg, #000000ff 0%, #00000000 100%);
    }

    .video-destak .video-info {
        max-width: 100%;
        margin-top: 360px;
    }
}


/*
*
*   Video player
*
*/

.video-player {
    background-color: #000c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    backdrop-filter: blur(5px);
}

.video-player i {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: -32px;
    right: 48px;
    cursor: pointer;
}

.video-player .video-container {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

.video-player .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px;
}

@media screen and (max-width: 560px) {
    .video-player .video-container iframe {
        padding: 12px;
    }

    .video-player i {
        right: 12px;
    }
}

/*==============================

        MAIN VIDEO

==============================*/

.mainvideo {
    background-color: #000;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    display: flex;
    min-height: 360px;
}


.mainvideo .video-info {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 24px;
}

.mainvideo h1 {
    font-size: 2em;
}

.mainvideo .video-thumb-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mainvideo .video-thumb-container .video-thumb {
    margin: 0;
    height: 100%;
    background-position: center;
}

.mainvideo .video-thumb-container .gradient {
    left: 0;
}

.mainvideo .btn {
    padding: 8px 16px;
    background-color: #ffffff00;
    color: #fff;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #fff;
    margin-top: 24px;
}

.mainvideo .btn:hover {
    background-color: #ffffff55;
}

@media screen and (max-width: 640px) {
    .mainvideo {
        flex-direction: column;
    }

    .mainvideo .video-info {
        order: 2;
        width: 100%;
        height: fit-content;
    }

    .mainvideo .video-thumb-container {
        width: 100%;
        order: 1;
        aspect-ratio: 16/9;
    }

    .mainvideo .video-thumb-container .gradient {
        display: none;
    }

    .mainvideo .video-thumb-container .video-thumb {
        width: 100%;
    }
}

/*========================================

    VIDEO SECTION

*========================================*/

section.video-section {
    background: linear-gradient(0deg, #000 0%, var(--grey-700) 100%);
    padding: var(--gap) 0;
}

section.video-section .video-item {
    display: flex;
    gap: calc(var(--gap)/2);
    align-items: center;
}

section.video-section .video-item.main {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

section.video-section .video-item.main .video-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.video-section .video-item.main .video-info {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    padding: 24px;
    width: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    background: linear-gradient(0deg, #000f 50%, #0000 100%);
}

section.video-section .video-item.main:hover .video-info {
    opacity: 1;
    transition: all .3s ease-in-out;
}